.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content .contact-me h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;

    color: #000000;
}

.content .contact-me h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    padding: 10px;
    margin-left: 20px;
    
    color: #000000;
}

.content .email {
    font-family: Roboto;
    display: flex;
    flex: row;
    padding: 5px;
    margin-left: 35px;
}

.content .email .gmail-icon {
    margin-right: 5px;
}

label{
    color: #000000;
    position: relative;
    font-weight: bold;
    padding: 10px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 25px;
  }
  
input{
    width: 60%;
    margin-top: 4px;
    padding: 10px;
    border: 2px solid rgb(53,162,255);
    border-radius: 10px;

}

textarea{
    width: 60%;
    margin-top: 4px;
    padding: 10px;
    border: 2px solid rgb(53,162,255);
    border-radius: 10px;
}

.form {
    align-items: left;
    justify-content: flex-start;
}

.form .left {
    padding: 10px;
}

.form .left .form-group {
    margin-left: 20px;
    padding: 10px;
}

.form .right {
    margin-left: 400px;
    height: 30px;
}

.form .right .send-btn{
    cursor: pointer;	
    background: #fff;
    padding: 5px 3px;
    color: #000000;
    font-size: 20px;	
    border: 2px solid rgb(53,162,255);	
    border-radius: 15px;
    justify-content: center;
    font-family: Roboto;
    font-weight: bold;
    width: 30%;
}

.form .right .send-btn:hover{
    background: rgb(53,162,255);
    background: linear-gradient(180deg, rgba(53,162,255,1) 0%, rgba(255,253,228,1) 100%);
    color: #000000;
    border: 2px solid rgb(53,162,255);
    font-family: Roboto;
    font-weight: bold;
}

