.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 730px;
}

.projects{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    width: 960px;
    height: 250px;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    width: 925px;
    height: 310px;
}

.content .cards .item {
    align-content: center;
    align-items: center;
    position: relative;
    width: 350px;
    height: 240px;
    padding: 75px;
    margin-left: 80px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.content .projects h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;

    color: #000000;
}

.content .projects p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    padding: 10px;
    margin-left: 20px;
    
    color: #000000;
}

.content .projects .cards .item h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-self: center;
    border-bottom: 2px solid #696969;
    color: #000000;
    padding: 5px;
}